# Общие системные файлы
.DS_Store

# Логи npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории зависимостей и сборки
/node_modules
/.pnp
.pnp.js
/build
/coverage

# Файлы окружения (все возможные варианты)
.env
.env.local
.env*.local